# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv

# Testing and linting
.pytest_cache/
.ruff_cache/

# IDEs
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Logs
*.log
logs/

# Environment variables
.env

# Non-Binary Files
*.png
*.pdf